doctype html
html
  head
    title Rajendra Nath Murmu website
    block scripts
    block style 
  body
    nav#navbar.top
      ul
          div#logo
              img(src="static/img/log6.jpg") 
              | HDA
          li #[a(href="/") Home] 
          li #[a(href="/") About] 
          li #[a(href="/") Service] 
          li #[a(href="/") Class Info] 
          li #[a(href="/contact") Contact Us] 

    block content
    footer#footer 
          | Copyright © 2021 for more information contact Rajendra     